In [6]:
x= ravi
y= shyam 
z= x+y

print (z)

30.3

In [7]:
print (type (z))

<class 'float'>

In [10]:
x= 'nilesh krishna rashinkar'
print(x)

nilesh krishna rashinkar

In [24]:
x = "gangapur"
y= "pune"

print ("i love (y)")

i love (y)

In [25]:
print(len (y))

4

In [28]:
x= {'name': nilesh, 'age' : 25}
my_order=( my name is nilesh and my age is {})
print(my_order)

SyntaxError: invalid syntax (<ipython-input-28-1ba1b3f91233>, line 2)

In [ ]:
quantiy = 5
iteno = 540
price = 200.50
my_order = "I want {} quantity of item no {} for that item no i want to pay{} Rupees"
print(my_order.format(quantiy, iteno, price))

In [31]:
quantity = 5
player = 10 
price= 205
time = 20
my_order = "i want {} quantity of no. of player {} with price {} and time {}"
print(my_order.format(quantity, player, price, time))

i want 5 quantity of no. of player 10 with price 205 and time 20

In [41]:
name= 25
age = 25
my_order=( "my name is {} and my age is {}")
print(my_order.format (name, age))

my name is 25 and my age is 25

# #int to float coversions

In [42]:
a= 12 #int value
b= 12.12 #float value
c= 1j #complex no.

In [44]:
x= float(a)
print (x)

12.0

In [45]:
print (type(x))

<class 'float'>

In [46]:
y= int(b)
print(y)

12

In [47]:
print(type(y))

<class 'int'>

In [51]:
import random
print (random.randrange(1,5))

4