# 1st,

In [ ]:
company_1 = {
         'id': 123,
        'name': 'nilesh',
        'post': 'hr',
        'salary': 15000
    

         
        }
print (company_1)

In [ ]:
company_1.keys()

# 2nd,

In [ ]:
company_1 = {
         'id': 123,
        'name': 'nilesh',
        'post': 'hr',
        'salary': 15000
    

         
        }
print (company_1.values())

# 3rd,

In [17]:
attendance= {
    'nilesh':80,
    'rudra': 76,
    'malhar':55,
    'ravi':60
}

attendance.sum(values)
print(attendance)

AttributeError: 'dict' object has no attribute 'sum'

In [13]:
addition= ('attendance.values')
print=(sum(attendance.values()))

# 4th,

In [5]:
company_1 = {
         'id': 123,
        'name': 'nilesh',
        'post': 'hr',
        'salary': 15000
    }
company_1.pop('post')
print(company_1)

{'id': 123, 'name': 'nilesh', 'salary': 15000}

In [9]:
Car= {
"Brand" : "ford", 
"Model" : "mustang",
'prize':   444
}
Car.pop("Model")
print(Car)

{'Brand': 'ford', 'prize': 444}