In [1]:
my_dict = {
    'stud_name':['nilesh','rudra','malhar','samartha'],
    'pointer':[7.00,5.63,7.10, 8],
    'year': [2019,2019,2020,2021],
    'stars':{4.5,3,4.9,5}
}

print(my_dict)

{'stud_name': ['nilesh', 'rudra', 'malhar', 'samartha'], 'pointer': [7.0, 5.63, 7.1, 8], 'year': [2019, 2019, 2020, 2021], 'stars': {5, 3, 4.5, 4.9}}

In [2]:
my_dict.items()

dict_items([('stud_name', ['nilesh', 'rudra', 'malhar', 'samartha']), ('pointer', [7.0, 5.63, 7.1, 8]), ('year', [2019, 2019, 2020, 2021]), ('stars', {5, 3, 4.5, 4.9})])

In [3]:
max_value = max(my_dict)
print(max_value)

year

# 2nd question
#2. Python Program to multiply all values

In [ ]:
my_dict = {
    'nilesh_pointer': 7.25,
    'rudra_pointer': 6.00,
    'malhar': 9.25,
    'samarth': 8.88,
    'ravi': 5.5,
}
a = 1
for i in my_dict:
    a = a*my_dict[i]
print(a)

In [ ]:
my_dict = {
    'value1': [5,5],
    'value2': [4,4],
    'value3': [3,3],
    'value4': [2,2],
    'value5': [1,1],
}
a = 1
for i in my_dict:
    a = a*my_dict[i]
print(a)